<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labgestor|Regiostro - Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    

    <section class="row h-100">
        <!-- Ilustracion del Registro -->
        <div class="col-lg-7 rounded-end-5 register-art">
            <a class="btn-light-labgestor-light pt-3 ps-3" href="index.html"><i class="fa-solid fa-chevron-left"></i>Atras</a>
        </div>

        <!-- Formulario de Registro de Usuarios -->
        <div class="col-lg-5 d-flex justify-content-center align-items-center p-0">
            <article class="container p-5 ">
                <h1 class="text-center">Registrar Usuarios</h1>
                <form action="../Programas/registrarUsuarios.php"  method="post" class="rounded-5 p-4">


                    <!-- Se le piden los nombres al usuario que se quiere registrar -->
                    <div class="mb-2 mx-2 ">
                        <label for="nombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" name="nombres" required>

                        <!-- Mensaje por si el usuario no pone informacion -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>


                    <!-- Se le piden los apellidos al usuario que se quiere registrar -->
                    <div class="mb-2 mx-2">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" name="apellidos" required>

                        <!-- Mensaje por si el usuario no digita informacion -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Se le piden el numero de cedula al usuario que se quiere registrar -->
                    <div class="mb-2 mx-2">
                        <label for="cedula" class="form-label">No. Cedula</label>
                        <input type="number" class="form-control" name="cedula" required>

                        <!-- Mensaje por si el usuario no digita informacion -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Se le piden el correo electronico al usuario que se quiere registrar -->
                    <div class="mb-2 mx-2">
                        <label for="correo" class="form-label">Correo Electronico</label>
                        <input type="mail" class="form-control" name="correo" required>

                        <!-- Mensaje por si el usuario no digita informacion -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Se le pide la contraseña al usuario que se quiere registrar -->
                    <div class="mb-2 mx-2">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password" required>

                        <!-- Mensaje por si el usuario no digita informacion -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <!-- Se le pide la confirmacion de la contraseña al usuario que se quiere registrar -->
                    <div class="mb-2 mx-2">
                        <label for="password-confirmacion" class="form-label"> Confirmacion Contraseña</label>
                        <input type="password" class="form-control" name="password-confirmacion" required>

                        <!-- Mensaje por si el usuario no digita informacion -->
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>


                    <div class="mt-4 text-center w-100">
                        <button type="submit" class="btn rounded-pill btn-secondary-labgestor w-50">Registrarse</button>
                    </div>

                </form>
            </article>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>